annotated-types==0.7.0
anthropic==0.96.0
anyio==4.13.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
distro==1.9.0
Django==6.0.3
docstring_parser==0.18.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.14.0
libscrc==1.8.1
mysqlclient==2.2.8
numpy==2.4.4
opencv-contrib-python==4.13.0.92
packaging==26.0
pillow==12.1.1
promptpay==1.1.9
pydantic==2.13.2
pydantic_core==2.46.2
PyMySQL==1.1.2
python-dotenv==1.2.2
qrcode==8.2
requests==2.32.3
sniffio==1.3.1
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
WeasyPrint==70.0
wheel==0.46.3
